<%= form_with(model: post, local: true) do |f| %>
  <div class="field form-group">
    <%= f.label (:author) %>
    <%= f.text_field (:author), class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label (:title) %>
    <%= f.text_field (:title), class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label (:category_id) %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {class: 'form-control'}) %>
  </div>
  <div class="field form-group">
    <%= f.label (:content) %>
    <%= f.text_area (:content), class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
    <%= link_to  "Back", "/posts/", class: 'btn btn-primary' %>
  </div>
<% end %>